<h2>Edit Movement</h2>

<%= render "form.html", Map.put(assigns, :action, activities_workouts_movement_path(@conn, :update, @movement)) %>

<span><%= link "Back", to: activities_workouts_movement_path(@conn, :index) %></span>
