<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Fitstr!</title>
    <link rel="manifest" href="<%= static_path(@conn, "/manifest.json") %>">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div id="fitstr" class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <li><%= link "Home", to: page_path(@conn, :index), class: "button" %></li>
            <%= if @conn.assigns[:current_user] do %>
              <li><%= link "Sign out", to: auth_path(@conn, :delete), class: "button" %></li>
            <% else %>
              <li><%= link "Sign in", to: auth_path(@conn, :request, "google", scope: "email"), class: "button" %></li>
            <% end %>
          </ul>
        </nav>
        <span class="logo"></span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <v-app>
          <%= render @view_module, @view_template, assigns %>
        </v-app>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
