<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "Fitstr" %></h2>
  <p class="lead">Your friendliest fitness companion</p>
</div>

<v-btn
  fixed
  bottom
  color="pink"
  dark
  fab
  href="<%= journals_workouts_workout_path(@conn, :new) %>"
  right>
  <v-icon>add</v-icon>
</v-btn>
