<h2>Show Movement</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @movement.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @movement.description %>
  </li>

</ul>

<span><%= link "Edit", to: movement_path(@conn, :edit, @movement) %></span>
<span><%= link "Back", to: movement_path(@conn, :index) %></span>
